<ion-content [fullscreen]="true" color="light">
  <ion-header class="ion-no-border">
    <ion-toolbar color="light">

      <ion-label class="tagline">
        <ion-text  >Profile</ion-text>
      </ion-label>
    </ion-toolbar>
  </ion-header>

  <ion-card >
    <ion-item >
    <ion-thumbnail *ngIf="user.results.length > 0 && user.results[0]?.user" slot="start">
      <img [src]="user.results[0].user.picture.thumbnail" alt="User avatar">
    </ion-thumbnail>
    <ion-label class="recent">
     Name: {{ user.results[0].user.name.title }}  {{ user.results[0].user.name.first }}  {{ user.results[0].user.name.last }}
      <p>
        Gender: {{ user.results[0].user.gender}}
        <span class="dot"></span>
        D.O.B:  {{ user.results[0].user.dob | date:'MMM d, y' }}
      </p>
     <p>Username: {{ user.results[0].user.username}}</p> 
      <p>Email: {{ user.results[0].user.email}} </p>
    
    </ion-label>
    <ion-chip outline={true} color="purple"> {{ user.nationality }}</ion-chip>
    
  </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="inset">
      <ion-icon name="cog" slot="start"></ion-icon>
      <ion-label>Settings</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  
    <ion-item lines="inset">
      <ion-icon name="help-buoy-outline" slot="start"></ion-icon>
      <ion-label>Help</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  
    <ion-item lines="none">
      <ion-icon name="person-add-outline" slot="start"></ion-icon>
      <ion-label>Invite a friend</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item lines="inset">
      <ion-icon name="key-outline" slot="start"></ion-icon>
      <ion-label>Account</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  
    <ion-item lines="none">
      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
      <ion-label>About Us</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

  </ion-card>
</ion-content>
