<ion-content [fullscreen]="true" color="dark">
  <ion-header>
    <ion-toolbar [style.--background]="'url(\'../../../../assets/imgs/ux2.jpg\') no-repeat center center/cover'">
      <ion-buttons slot="start">
        <ion-thumbnail class="menu">
          <ion-back-button color="dark" mode="md" defaultHref="/tabs/home"></ion-back-button>
        </ion-thumbnail>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Load New Coaches...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list >
    <ion-item>
      <ion-text class="c">Interview Coaches</ion-text>
    </ion-item>
  </ion-list>
  <ion-modal [isOpen]="selectedUser !== null" 
  (ionModalDidDismiss)="setSelectedUser(null)" 
  [presentingElement]="presentingElement" 
  breakpoints="[0.25, 0.5, 1]" 
  initialBreakpoint="0.65"
   backdropBreakpoint="0.25">
    <ion-content class="ion-padding">
      <ng-container *ngIf="activeSegment === 'details'">
        <ion-card>
          <ion-card-content class="ion-no-padding">
            <ion-buttons>
              <ion-button color="light" (click)="closeModal()">
                <ion-icon name="log-out-outline" slot="end"></ion-icon>
              </ion-button>
            </ion-buttons>
            <div style="display: flex; justify-content: center; align-items: center; padding: 1rem;">
              <ion-avatar>
                <img [src]="selectedUser?.user.picture.large" alt="User avatar" />
              </ion-avatar>
            </div>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                More Info about your coach:
                <ul>
                  <li><p>Email: {{ selectedUser?.user.email }}</p></li>
                  <li><p>Cell: {{ selectedUser?.user.cell }}</p></li>
                  <li><p>City: {{ selectedUser?.user.location.city }}</p></li>
                  <li><p>State: {{ selectedUser?.user.location.state }}</p></li>
                  <li><p>Street: {{ selectedUser?.user.location.street }}</p></li>
                </ul>
              </ion-label>
            </ion-item>

            <p class="ion-padding-horizontal"></p>
            <ion-item>
              <ion-checkbox id="terms" (ionChange)="onTermsChanged($event)">
                <div class="ion-text-wrap">Do you want {{ selectedUser?.user.name.title }} {{ selectedUser?.user.name.first }} {{ selectedUser?.user.name.last }} to be you coach ?</div>
              </ion-checkbox>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-content>
  </ion-modal>

  <ng-container >
    <ion-fab horizontal="end" vertical="bottom" class="fab-outline" slot="fixed" color="medium">
      <ion-fab-button class="fab-outline"  (click)="openFormModal()">
        <ion-icon name="add-outline" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
    <ion-modal [isOpen]="isFormModalOpen" 
    (ionModalDidDismiss)="closeFormModal()" 
 
    >
    <ng-container *ngIf="activeSegment === 'details'">
      <ion-card color="dark">
        <ion-card-content class="ion-no-padding">
          <ion-buttons slot="end">
            <ion-button color="light" (click)="closeFormModal()">
              <ion-icon name="log-out-outline" ></ion-icon>
            </ion-button>
            
          </ion-buttons>
       <div >
        <ion-label class="coach">Apply to be a Coach</ion-label>
       </div>   
       <ion-list [formGroup]="myGroup">
        <ion-item class="dark-input-item">
          <label for="name">Name:</label>
          <input 
            type="text"
            inputmode="text"
            placeholder="Enter Your Name"
            formControlName="name"
          >
        </ion-item>
        <ion-item class="dark-input-item">
          <label for="email">Email:</label>
          <input 
            type="text"
            inputmode="text"
            placeholder="Enter Your email"
            formControlName="email"
          >
        </ion-item>
        <ion-item class="dark-input-item">
          <label for="phone">Phone:</label>
          <input 
            type="text"
            inputmode="text"
            placeholder="Your Phone Number"
            formControlName="phoneNumber"
          >
        </ion-item>
        <ion-item class="dark-input-item">
          <label for="pay">Pay:</label>
          <input 
            type="text"
            inputmode="text"
            placeholder="Expected pay"
            formControlName="pay"
          >
        </ion-item>
        <ion-item class="dark-input-item">
          <label for="experience">Experience:</label>
          <input 
            type="text"
            inputmode="text"
            placeholder="Years of experience"
            formControlName="experience"
          >
        </ion-item>
      </ion-list>

          <ion-button expand="block" (click)="open()">
            <ion-text color="light">Submit</ion-text>
          </ion-button>
      
        </ion-card-content>
      </ion-card>
    </ng-container>
    </ion-modal>
 

    <ion-list lines="none" class="ion-margin-bottom recentJobs">
      <ion-list-header class="ion-margin-bottom">
        <ion-label color="light">Popular Coaches(Pull the screen)</ion-label>
        <ion-button fill="clear" size="small" color="medium" (click)="toggleShowAllRecent()">
          <ion-text>{{ showAllRecent ? 'Show less' : 'Show all' }}</ion-text>
        </ion-button>
      </ion-list-header>
      <ng-container *ngFor="let user of user.results; let i = index" inset="true">
        <ion-item *ngIf="showAllRecent || i < 5" (click)="setSelectedUser(user)">
          <ion-thumbnail slot="start">
            <img [src]="user.user.picture.thumbnail" alt="User avatar">
          </ion-thumbnail>
          <ion-label>
            <ion-text> Name: {{ user.user.name.title }} {{ user.user.name.first }} {{ user.user.name.last }}</ion-text>
            <p>
              Gender: {{ user.user.gender }}
              <span class="dot"></span>
              Cell: {{ user.user.cell }}
            </p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>
</ion-content>
