<ion-content [fullscreen]="true" color="light">

  <ion-header>
    <ion-toolbar 
      [style.--background]="'url(\'../../../../assets/imgs/ux2.jpg' + '\') no-repeat center center/cover'">
      <ion-buttons slot="start">
        <ion-thumbnail class="menu">
          <ion-back-button color="dark" mode="md" defaultHref="/tabs/home"></ion-back-button>
        </ion-thumbnail>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none"  >

    <ion-item >
      <ion-label>
       Interview Coaches
      </ion-label>
    </ion-item>
  </ion-list>

  </ion-content>
  