<ion-content [fullscreen]="true" color="light">
  <ion-header class="ion-no-border">
    <ion-toolbar color="light" class="ion-padding-vertical">
      <ion-title mode="ios">
        <img [src]="'assets/imgs/logo.png'">
      </ion-title>
      <ion-buttons slot="start">
        <ion-thumbnail>
          <ion-icon name="apps-outline"></ion-icon>
        </ion-thumbnail>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-thumbnail *ngIf="user.results.length > 0 && user.results[0]?.user">
          <img [src]="user.results[0].user.picture.thumbnail" alt="User avatar" (click)="profile()">
        </ion-thumbnail>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-row class="tagline">
    <ion-col>
      <ion-label>
        <ion-text>
          {{ greetingMessage }} 
        </ion-text>
        <p>
          <ion-text color="dark">
            {{ user.results.length > 0 ? user.results[0].user.name.first : '' }}
          </ion-text>
        </p>
        <p>
          <ion-text color="dark">
            Find Your Dream Job
          </ion-text>
        </p>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="srch">
    <ion-col size="10">
      <ion-searchbar 
        color="dark" 
        class="srchBar" 
        placeholder="Search For Jobs"
        (ionInput)="filterJobs($event)">
      </ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <ion-button mode="ios">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="filteredPopular.length > 0; else noPopularResults" lines="none">
    <ion-list-header>
      <ion-label color="dark">
        Popular Jobs
      </ion-label>
      <ion-button fill="clear" size="small" color="medium">
        <ion-text>
          Swipe
        </ion-text>
      </ion-button>
    </ion-list-header>
    <div>
      <swiper-container
        [modules]="swiperModules"
        [slidesPerView]="1.4"
        [keyboard]="true"
        [centerSlides]="true">
        <swiper-slide *ngFor="let job of filteredPopular; trackBy: trackById">
          <app-job [job]="job" [routerLink]="['/', 'tabs', 'job', job.id]"></app-job>
        </swiper-slide>
      </swiper-container>
    </div>
  </ion-list>
  
  <ng-template #noPopularResults>
    <ion-item>
      <ion-label color="medium" class="ion-text-center">
        No Such Job in popular Job Post.
      </ion-label>
    </ion-item>
  </ng-template>

  <ion-list *ngIf="filteredRecent.length > 0; else noRecentResults" lines="none" class="ion-margin-bottom recentJobs">
    <ion-list-header class="ion-margin-bottom">
      <ion-label color="dark">
        Recent Jobs
      </ion-label>
      <ion-button fill="clear" size="small" color="medium" (click)="toggleShowAllRecent()">
        <ion-text>
          {{ showAllRecent ? 'Show less' : 'Show all' }}
        </ion-text>
      </ion-button>
    </ion-list-header>
    <ion-item *ngFor="let job of filteredRecent; trackBy: trackById" class="ion-margin-bottom" [routerLink]="['/', 'tabs', 'job', job.id]">
      <ion-thumbnail slot="start">
        <img [src]="'assets/imgs/' + job?.logo_light">
      </ion-thumbnail>
      <ion-label class="recent">
        {{job?.post}}
        <p>
          {{job?.company}}
          <span class="dot"></span>
          {{job?.type}}
        </p>
      </ion-label>
      <ion-text slot="end" color="dark">
        4d Left
      </ion-text>
    </ion-item>
  </ion-list>
  
  <ng-template #noRecentResults>
    <ion-item>
      <ion-label color="medium" class="ion-text-center">
        No Such Job in Recent Post.
      </ion-label>
    </ion-item>
  </ng-template>
</ion-content>
