<ion-content [fullscreen]="true" color="light">
  <ion-header class="ion-no-border">
    <ion-toolbar color="light">
      <ion-list lines="none">
        <ion-buttons slot="start">
          <ion-thumbnail class="menu">
            <ion-back-button mode="md" defaultHref="/tabs/home"></ion-back-button>
          </ion-thumbnail>
          <ion-label color="light">Apply Now For</ion-label>
        </ion-buttons>
       
        <ion-item>
          <ion-label>
            {{jobPost}}
            <p>
              {{type}}
              <ion-chip>
                {{salary}}
              </ion-chip>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </ion-header>

  <!-- Add [formGroup] directive to the ion-list -->
  <ion-list style="background-color: white;" [formGroup]="form">
    <ion-item class="ion-margin-top" color="light">
      <ion-input
        labelPlacement="floating"
        type="text"
        inputmode="text"
        placeholder="Enter names"
        enterkeyhint="next"
        formControlName="name"
        errorText="* Enter Your Name"
      >
        <div slot="label">Name <ion-text color="danger">*</ion-text></div>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" color="light">
      <ion-input
        labelPlacement="floating"
        type="email"
        inputmode="email"
        formControlName="email"
        placeholder="Enter email address"
        errorText="* Enter proper email address"
        enterkeyhint="next"
      >
        <div slot="label">Email <ion-text color="danger">*</ion-text></div>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" color="light">
      <ion-input
        labelPlacement="floating"
        type="number"
        inputmode="number"
        formControlName="phoneNumber"
        placeholder="Enter Phone number"
        errorText="* Enter phone number"
        enterkeyhint="next"
      >
        <div slot="label">Phone Number <ion-text color="danger">*</ion-text></div>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" color="light">
      <ion-select color="light" interface="popover" label="Gender" label-placement="floating">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin-top" >
      <ion-input
      
        labelPlacement="floating"
        type="text"
        inputmode="text"
        placeholder="Enter Description"
        enterkeyhint="next"
        [counter]="true"
        maxlength="50"
      >
        <div slot="label">Write a short description about yourself <ion-text color="danger">*</ion-text></div>
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="open()">
    <ion-text color="light">Apply Now</ion-text>
  </ion-button>
</ion-content>
